$inthanonGreen : #116A3E;
$dkGreen : #003218;
$medDkGreen: #014F27;
$ltGreen: #439A6E;
$medLtGreen: #258353;
$blue: #144460;
$dkBlue : #021D2D;
$medDkBlue: #052F48;
$ltBlue: #41708C;
$medLtBlue: #265977;
$white: #FFFFFF;

.reservation {
  width: 402px;
  float: right;
  margin: 48px;
  border: 1px solid $ltGreen;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  .wrapper {
    border: 1px solid $ltGreen;
    padding: 10px;
    border-radius: 6px;
    box-shadow: none;
  }
}