$inthanonGreen : #116A3E;
$dkGreen : #003218;
$medDkGreen: #014F27;
$ltGreen: #439A6E;
$medLtGreen: #258353;
$blue: #144460;
$dkBlue : #021D2D;
$medDkBlue: #052F48;
$ltBlue: #41708C;
$medLtBlue: #265977;
$white: #FFFFFF;

.home-header {
  height: 300px;
  background-color: $ltBlue;
  .home-logo{
    float: left;
    display: inline-block;
    width: 300px;
  }
}