@import '../../../../styles/colors';

.InputFromTo{
  display: flex;
  flex-direction: column;
  margin: 25px 25px 0 25px;
  .wrapper{

    input{
      border: none;
      padding: none;
      max-width: 160px;
    }
    .DayPickerInput , .InputFromTo-to {
      max-width: 150px;
      .DayPickerInput-OverlayWrapper{
        right: 130px;
        width: 454px;
        div.DayPickerInput-Overlay{
          margin-top: 30px;
          right: 130px;
        }
      }
    }
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
      background-color: #f0f8ff !important;
      color: #4a90e2;
    }
    .DayPicker-Day {
      &.DayPicker-Day--outside{
        border: none;
      }
      border-radius: 0 !important;
      font-size: 0.7em;
      border: 1px solid lightgrey;
    }
    .DayPicker-Day--start {
      border-top-left-radius: 50% !important;
      border-bottom-left-radius: 50% !important;
    }
    .DayPicker-Day--end {
      border-top-right-radius: 50% !important;
      border-bottom-right-radius: 50% !important;
    }
    .DayPicker-Weekday abbr[title]{
      font-size: 0.7em;
    }
    .DayPicker-Caption > div {
      font-size: 18px !important;
      text-align: center;
      width: 100%;
    }
    span.DayPicker-NavButton{
      &.DayPicker-NavButton--prev{
        position: absolute;
        left: 20px;
      }
      &.DayPicker-NavButton--next{
        position: absolute;
        right: 20px;
      }
    }


  }
}
