$inthanonGreen : #116A3E;
$dkGreen : #003218;
$medDkGreen: #014F27;
$ltGreen: #439A6E;
$medLtGreen: #258353;
$blue: #144460;
$dkBlue : #021D2D;
$medDkBlue: #052F48;
$ltBlue: #41708C;
$medLtBlue: #265977;
$white: #FFFFFF;
.nav-bar{
  position: absolute;
  right: 0;
  top: 166px;
  width: calc(100% - 300px);
  .btn-wrapper {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    margin: 0px;
    text-align: center;
    padding: 0;
    background-color: $inthanonGreen;
    li {
      margin: 22px 0 48px 0;
      .nav-btn {
        color: white;
        font-weight: bold;
        font-size: 55px;
        text-decoration: none;
      }  
    } 
  }
}

